// The colors.scss file holds all color variables for its specific theme:

// Helper variables (not required outside this file):
$sidebarBg: hsla(221, 28%, 87%, 1);
$headerColor: hsla(254, 78%, 52%, 0.75);

// Theme variables (required!):
$main: (
  headerBg: lighten($sidebarBg, 7%),
  headerColor: $headerColor,
  contentBg: lighten($sidebarBg, 10%),
  contentColor: hsla(255, 26%, 18%, 0.75),
  scrollbarBg: lighten($sidebarBg, 4%),
);

// Left and right sidebars are identical:
$left: (
  headerBg: $sidebarBg,
  headerColor: $headerColor,
  contentBg: $sidebarBg,
  contentColor: lighten($headerColor, 10%),
  iconColor: $headerColor,
  iconHoverColor: darken($headerColor, 10%),
  borderColor: map-get($main, headerBg),
  borderHoverColor: darken($sidebarBg, 15%),
  hoverBg: darken($sidebarBg, 12%),
  scrollbarBg: lighten($sidebarBg, 7%),
);
$right: (
  headerBg: map-get($left, headerBg),
  headerColor: map-get($left, headerColor),
  contentBg: map-get($left, contentBg),
  contentColor: map-get($left, contentColor),
  iconColor: map-get($left, iconColor),
  iconHoverColor: map-get($left, iconHoverColor),
  borderColor: map-get($left, borderColor),
  borderHoverColor: map-get($left, borderHoverColor),
  hoverBg: map-get($left, hoverBg),
  scrollbarBg: map-get($left, scrollbarBg),
);

$shadow: 0;
$shadowColor: #888;
$shadowHoverColor: #333;