// minimal_specs is for themes that don't want a visible sidestrip at the screen's edges!
$smallWidthQuery: (orientation: portrait), (max-width: 800px);
$mediumWidthQuery: (max-width: 1200px);
:export {
  smallWidthQuery: #{$smallWidthQuery};
  mediumWidthQuery: #{$mediumWidthQuery};
  // Specify which sidebars should be active on first load:
  startActive: none; // can be either both, left, right or none
  mutex: false; // Set to true if sidebars should never be active at the same time
  // On smaller viewports, sidebars will never be active at the same time!
}

:root {
  --headerHeight: 4rem;
  --headerFont: 1.75rem;
  --sidestripWidth: 1px;
  --patchTop: 3rem;
  --borderWidth: 0px;
  --headerBorderWidth: 2px;
  @media #{$smallWidthQuery} {
    --headerHeight: 3rem;
    --headerFont: 1.35rem;
    --sidestripWidth: 1px;
    --patchTop: 2rem;
    --borderWidth: 0px;
    --headerBorderWidth: 1px;
  }
  // sidebar widths in portrait and landscape orientations:
  --portraitWidth: 80vw;
  --leftLandscapeWidth: 20vw;
  --rightLandscapeWidth: 20vw;
  @media #{$mediumWidthQuery} {
    --leftLandscapeWidth: 25vw;
    --rightLandscapeWidth: 25vw;
  }
  --transitionDuration: 0.5s;
  // Make these 0 if you don't want default paddings in Sidebars and Main:
  --contentPadding: 5%;
  --mainContentPadding: 2rem 15% 3rem;
}
