// The _vars.scss partial holds all variables:
// sizes, media queries, theme colors, etc.
$portraitQuery: screen and (orientation: portrait);
$smallWidthQuery: (max-width: 40rem);
$mediumWidthQuery: (max-width: 60rem);
:export {
  portraitQuery: #{$portraitQuery};
  mediumWidthQuery: #{$mediumWidthQuery};
  // Specify which sidebars should be active on first load:
  leftActive: true;
  rightActive: true;
  // Set mutex to true if sidebars should never be active at the same time:
  // (On smaller viewports, sidebars will never be active at the same time regardless of mutex)
  mutex: false;
  // Set the appearance of the sidestrip (hoverable strip at the side of screen to activate sidebar):
  // on, off, mobileOff, hidden or mobileHidden
  sidestrip: mobileOff;
  // Set the theme: light, dark or joy
  theme: light;
  /// NOTE: The props specified in the Layout component take precedence over these variables!
}

:root {
  --headerHeight: 4rem;
  --sidestripWidth: 0.5rem;
  --borderWidth: 2px;
  --sidestripBorderWidth: 2px;
  @media #{$smallWidthQuery} {
    --headerHeight: 2.75rem;
    --sidestripWidth: 0.4rem;
    --borderWidth: 1px;
    --sidestripBorderWidth: 1px;
  }
  // sidebar widths in portrait and landscape orientations:
  --portraitWidth: 80vw;
  --leftLandscapeWidth: 25vw;
  --rightLandscapeWidth: 25vw;
  @media #{$mediumWidthQuery} {
    --leftLandscapeWidth: 40vw;
    --rightLandscapeWidth: 40vw;
  }
  --transitionDuration: 0.5s;
  // Make these 0 if you don't want default paddings in Sidebars and Main:
  --contentPadding: 5%;
  --mainContentPadding: 2rem 15% 3rem;
  // These determine the style of the inactive background when sidebar is active in portrait:
  --overlay-lightness: 0%; // 0% = black!
  --overlay-transparency: 0; // invisible by default
  --black-overlay-transparency: 0.6;
  // General colors for shadows:
  --shadowColor: #888;
  --shadowHoverColor: #333;
}

// Light theme Colors:
body.lightTheme {
  --bodyHeaderBg: hsl(221, 28%, 94%);
  --bodyHeaderColor: hsla(254, 78%, 52%, 0.75);
  --bodyContentBg: hsl(221, 28%, 97%);
  --bodyContentColor: hsla(255, 26%, 18%, 0.75);
  --scrollbarBg: hsl(221, 28%, 91%);
  --borderColor: hsl(221, 28%, 94%);
  --black-overlay-transparency: 0.5;
  // 'button' and 'select' styling:
  --buttonBg: linear-gradient(hsl(221, 28%, 97%) 25%, hsl(221, 28%, 80%) 85%);
  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonShadowColor: white;
  --optionsBg: hsl(221, 28%, 90%);
  --optionHoverBg: hsla(221, 28%, 70%, 0.3);
}

.sidebar.lightTheme {
  --headerBg: hsl(221, 28%, 87%);
  --headerColor: hsl(252, 56%, 61%);
  --contentBg: hsl(221, 28%, 87%);
  --contentColor: hsla(254, 78%, 62%, 0.75);
  --iconColor: hsl(252, 56%, 61%);
  --iconHoverColor: white;
  --borderColor: hsl(221, 28%, 94%);
  --borderHoverColor: #f1f1f1;
  --hoverBg: hsl(221, 28%, 75%);
  --scrollbarBg: hsl(221, 28%, 94%);
  --shadow: 0;
}

// Dark theme Colors:
body.darkTheme {
  --bodyHeaderBg: hsl(0, 0%, 0%);
  --bodyHeaderColor: hsla(34, 100%, 94%, 0.95);
  --bodyContentBg: hsl(210, 25%, 7%);
  --bodyContentColor: hsla(0, 0%, 77%, 0.9);
  --scrollbarBg: hsl(210, 25%, 14%);
  --borderColor: hsl(213, 22%, 13%);
  --overlay-lightness: 100%; // 100% = white!
  --overlay-transparency: 0.15;
  // 'button' and 'select' styling:
  --buttonBg: linear-gradient(hsl(0, 0%, 70%) 25%, hsl(0, 0%, 50%) 85%);
  --buttonColor: hsla(0, 0%, 3%, 0.75);
  --buttonHoverColor: hsl(0, 0%, 3%);
  --buttonShadowColor: hsl(0, 0%, 40%);
  --optionsBg: hsl(0, 0%, 65%);
  --optionHoverBg: hsla(0, 0%, 35%, 0.25);
}

.sidebar.darkTheme {
  --headerBg: hsl(213, 22%, 10%);
  --headerColor: hsl(237, 21%, 85%);
  --contentBg: hsl(213, 22%, 10%);
  --contentColor: hsla(237, 21%, 85%, 0.9);
  --iconColor: hsla(237, 21%, 82%, 0.8);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(213, 22%, 18%);
  --borderHoverColor: hsl(240, 30%, 20%);
  --hoverBg: hsl(213, 22%, 15%);
  --scrollbarBg: hsl(213, 22%, 17%);
  --shadow: 0;
}

// Joy theme Colors:
body.joyTheme {
  --bodyHeaderBg: linear-gradient(to right, hsl(39, 100%, 50%), hsl(300, 76%, 72%));
  --bodyHeaderColor: hsla(254, 78%, 52%, 0.75);
  --bodyContentBg: hsl(60, 100%, 89%);
  --bodyContentColor: hsla(330, 100%, 39%, 0.8);
  --scrollbarBg: hsl(60, 79%, 82%);
  --borderColor: hsla(254, 78%, 52%, 0.05);
  // 'button' and 'select' styling:
  --buttonBg: linear-gradient(hsl(39, 100%, 90%) 25%, hsl(54, 100%, 72%) 85%);
  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonShadowColor: hsl(24, 100%, 85%);
  --optionsBg: hsl(58, 100%, 85%);
  --optionHoverBg: hsl(58, 100%, 78%);
}

.sidebar.left.joyTheme {
  --headerBg: hsl(24, 100%, 50%);
  --headerColor: hsl(39, 100%, 85%);
  --contentBg: hsl(24, 100%, 50%);
  --contentColor: hsl(24, 100%, 85%);
  --iconColor: hsl(39, 100%, 85%);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(24, 100%, 75%);
  --borderHoverColor: hsl(24, 100%, 65%);
  --hoverBg: hsl(24, 100%, 38%);
  --scrollbarBg: hsl(24, 100%, 70%);
  --shadow: 6px 0 15px 0;
  // 'button' and 'select' styling:
  --buttonBg: linear-gradient(hsl(39, 100%, 90%) 25%, hsl(39, 100%, 65%) 85%);
  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonShadowColor: var(--contentColor);
  --optionsBg: hsl(39, 100%, 80%);
  --optionHoverBg: hsla(24, 100%, 50%, 0.25);
}

.sidebar.right.joyTheme {
  --headerBg: hsl(300, 76%, 52%);
  --headerColor: hsl(300, 76%, 87%);
  --contentBg: hsl(300, 76%, 52%);
  --contentColor: hsl(300, 76%, 86%);
  --iconColor: hsl(300, 76%, 87%);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(300, 76%, 77%);
  --borderHoverColor: hsl(300, 76%, 67%);
  --hoverBg: hsl(300, 76%, 37%);
  --scrollbarBg: hsl(300, 76%, 72%);
  --shadow: -6px 0 15px 0;
  // 'button' and 'select' styling:
  --buttonBg: linear-gradient(hsl(300, 76%, 95%) 25%, hsl(300, 76%, 75%) 85%);
  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonShadowColor: var(--contentColor);
  --optionsBg: hsl(300, 76%, 88%);
  --optionHoverBg: hsla(300, 76%, 65%, 0.25);
}