// The _vars.scss partial holds all variables:
// sizes, media queries, theme colors, etc.
$phone: (orientation: portrait) and (max-device-width: 420px),
        (orientation: landscape) and (max-device-width: 820px);
$small-viewport: (max-width: 800px);
$medium-viewport: (max-width: 1200px);
:export {
  mediumViewport: #{$medium-viewport};
}

:root {
  font-family: system-ui, Oxygen-Sans, Cantarell, sans-serif;
  font-size: 20px;
  --font-size: 1rem;
  --header-font-size: 1.7rem;
  --header-height: 4rem;
  --sidestrip-width: 0.5rem;
  --border-width: 2px;
  @media #{$small-viewport} {
    --header-font-size: 1.3rem;
    --header-height: 3.2rem;
  }
  @media #{$phone} {
    --font-size: 0.8rem;
    --header-font-size: 1.05rem;
    --header-height: 2.75rem;
    --sidestrip-width: 0.2rem;
    --border-width: 1px;
  }
  // Sidebar transition duration:
  --secs: 0.4s;
  // Sidebar widths in portrait and landscape orientations:
  // (If you want different sizes for left and right,
  // duplicate this part under the #left or #right ids)
  --portrait-width: 80vw;
  --landscape-width: 25; // The landscape width is either '%' OR 'vw',
  @media #{$medium-viewport} { // to make sure the sidebar is fully responsive
    --landscape-width: 35; // when resizing the window!
  }
  // Color intensity of the inactive background of the portrait-mode sidebar:
  --white-overlay-transparency: 0.2;
  --black-overlay-transparency: 0.7;
  // Padding for .content class, make 0 if you don't want default paddings:
  --content-padding: 2rem 5%;
}

#main {
  --content-padding: 2rem 5% 2rem 10%;
  --shadow: 0 0 20px 0;
}
#left { --shadow: 6px 0 15px 0; }
#right { --shadow: -6px 0 15px 0; }

// Light theme Colors:
#layout.light-theme {
  --bg-header: hsl(221, 28%, 94%);
  --fg-header: hsla(254, 78%, 52%, 0.75);
  --bg-content: hsl(221, 28%, 97%);
  --fg-content: hsla(255, 26%, 18%, 0.75);
  --bg-border: hsl(221, 28%, 94%);
  --bg-scrollbar: hsl(221, 28%, 91%);

  // 'button' and 'select' styling:
  --bg-button: linear-gradient(hsl(221, 28%, 97%) 25%, hsl(221, 28%, 80%) 85%);
  --bg-button-shadow: hsl(223, 34%, 80%);
  --fg-button: hsla(254, 78%, 52%, 0.65);
  --fg-button-hover: hsla(254, 78%, 52%, 0.9);
  --bg-options: hsl(221, 28%, 90%);
  --bg-option-hover: hsla(221, 28%, 70%, 0.3);
  --bg-toggle-track: hsl(213, 22%, 40%);
  --bg-toggle-thumb: var(--bg-scrollbar);

  // General colors for shadows:
  --bg-shadow: hsl(223, 11%, 76%);
  --bg-shadow-hover: hsl(223, 11%, 55%);
  .sidebar { --shadow: 0px 0 15px 2px; }
  #main { --shadow: 0 0 8px 0; }

  #left, #right { // Sidebar colors:
    --bg-icon: hsl(221, 28%, 87%);
    --bg-icon-hover: hsl(221, 28%, 75%);
    --fg-icon: hsl(252, 56%, 61%);
    --fg-icon-hover: white;

    --bg-header: var(--bg-icon);
    --fg-header: hsl(252, 56%, 61%);
    --bg-content: var(--bg-icon);
    --fg-content: hsla(254, 78%, 62%, 0.75);

    --bg-border: hsl(221, 28%, 94%);
    --bg-border-hover: hsl(221, 28%, 87%);
    --bg-scrollbar: hsl(221, 28%, 94%);
    --bg-button-shadow: white;
  }
}

// Dark theme Colors:
#layout.dark-theme {
  --bg-header: hsl(210, 25%, 9%);
  --fg-header: hsl(190, 20%, 65%);
  --bg-content: hsl(0, 0%, 0%);
  --fg-content: hsla(206, 33%, 79%, 0.85); //hsla(0, 0%, 77%, 0.9);
  --bg-border: hsl(160, 7%, 17%);
  --bg-scrollbar: hsl(210, 25%, 14%);

  // 'button' and 'select' styling:
  --bg-button: linear-gradient(hsl(0, 0%, 70%) 25%, hsl(0, 0%, 50%) 85%);
  --bg-button-shadow: hsl(0, 0%, 40%);
  --fg-button: hsla(0, 0%, 3%, 0.75);
  --fg-button-hover: hsl(0, 0%, 3%);
  --bg-options: hsl(0, 0%, 65%);
  --bg-option-hover: hsla(0, 0%, 35%, 0.25);
  --bg-toggle-track: hsl(221, 28%, 80%);
  --bg-toggle-thumb: var(--bg-scrollbar);

  // General colors for shadows:
  --bg-shadow: hsl(0, 0%, 10%);
  --bg-shadow-hover: hsl(0, 0%, 15%);
  #main { --shadow: 0 8px 20px 5px; }
  #left {
    --shadow: 10px 0 20px 5px;
    .sidebar { --shadow: 8px 0 20px 5px; }
  }
  #right {
    --shadow: -10px 0 20px 5px;
    .sidebar { --shadow: -5px 0 20px 5px; }
  }

  #left, #right { // Sidebar colors:
    --bg-icon: hsl(210, 34%, 14%);
    --fg-icon: hsla(210, 50%, 80%, 0.8);
    --bg-icon-hover: hsl(211, 32%, 20%);
    --fg-icon-hover: white;

    --bg-header: var(--bg-icon);
    --fg-header: var(--fg-icon);
    --bg-content: hsl(210, 25%, 10%);
    --fg-content: var(--fg-icon);

    --bg-border: hsl(213, 22%, 19%);
    --bg-border-hover: hsl(213, 22%, 25%);
    --bg-scrollbar: hsl(213, 22%, 17%);
  }
}

// Joy theme Colors:
#layout.joy-theme {
  --bg-header: linear-gradient(to right, hsl(39, 100%, 50%), hsl(300, 76%, 72%));
  --fg-header: hsla(254, 78%, 52%, 0.75);
  --bg-content: hsl(60, 100%, 89%);
  --fg-content: hsla(330, 100%, 39%, 0.8);
  --bg-border: hsla(254, 78%, 52%, 0.05);
  --bg-scrollbar: hsl(60, 70%, 75%);
  --black-overlay-transparency: 0.75;

  // 'button' and 'select' styling:
  --bg-button: linear-gradient(hsl(39, 100%, 90%) 25%, hsl(54, 100%, 72%) 85%);
  --bg-button-shadow: hsl(24, 100%, 85%);
  --fg-button: hsla(254, 78%, 52%, 0.65);
  --fg-button-hover: hsla(254, 78%, 52%, 0.9);
  --bg-options: hsl(58, 100%, 85%);
  --bg-option-hover: hsl(58, 100%, 78%);
  --bg-toggle-track: hsl(213, 22%, 25%);
  --bg-toggle-thumb: var(--bg-header);

  // General colors for shadows:
  --bg-shadow: #888;
  --bg-shadow-hover: #333;

  #left { // Left sidebar colors:
    --bg-icon: hsl(24, 100%, 50%);
    --bg-icon-hover: hsl(24, 100%, 38%);
    --fg-icon: hsl(39, 100%, 85%);
    --fg-icon-hover: #f1f1f1;

    --bg-header: var(--bg-icon);
    --fg-header: hsl(39, 100%, 85%);
    --bg-content: var(--bg-icon);
    --fg-content: hsl(24, 100%, 90%);

    --bg-border: hsl(24, 100%, 75%);
    --bg-border-hover: hsl(24, 100%, 65%);
    --bg-scrollbar: hsl(24, 100%, 70%);

    // 'button' and 'select' styling:
    --bg-button: linear-gradient(hsl(39, 100%, 90%) 25%, hsl(39, 100%, 65%) 85%);
    --bg-button-shadow: var(--fg-content);
    --bg-options: hsl(39, 100%, 80%);
    --bg-option-hover: hsla(24, 100%, 50%, 0.25);
  }

  #right { // Right sidebar colors:
    --bg-icon: hsl(300, 76%, 52%);
    --bg-icon-hover: hsl(300, 76%, 37%);
    --fg-icon: hsl(300, 76%, 87%);
    --fg-icon-hover: #f1f1f1;

    --bg-header: var(--bg-icon);
    --fg-header: hsl(300, 76%, 87%);
    --bg-content: var(--bg-icon);
    --fg-content: hsl(300, 76%, 90%);

    --bg-border: hsl(300, 76%, 77%);
    --bg-border-hover: hsl(300, 76%, 67%);
    --bg-scrollbar: hsl(300, 76%, 72%);

    // 'button' and 'select' styling:
    --bg-button: linear-gradient(hsl(300, 76%, 95%) 25%, hsl(300, 76%, 75%) 85%);
    --bg-button-shadow: var(--fg-content);
    --bg-options: hsl(300, 76%, 88%);
    --bg-option-hover: hsla(300, 76%, 65%, 0.25);
  }
}