// The _vars.scss partial holds all variables:
// sizes, media queries, theme colors, etc.
$portraitQuery: screen and (orientation: portrait);
$smallWidthQuery: (max-width: 800px);
$mediumWidthQuery: (max-width: 1200px);
:export {
  portraitQuery: #{$portraitQuery};
  mediumWidthQuery: #{$mediumWidthQuery};
  // Specify which sidebars should be active on first load:
  leftActive: true;
  rightActive: true;
  // Set mutex to true if sidebars should never be active at the same time:
  // (On smaller viewports, sidebars will never be active at the same time regardless of mutex)
  mutex: false;
  // Set the appearance of the sidestrip (hoverable strip at the side of screen to activate sidebar):
  // on, off, mobileOff, hidden or mobileHidden
  sidestrip: mobileOff;
  // Set the theme: light, dark or joy
  theme: light;
  /// NOTE: The props specified in the Layout component take precedence over these variables!
}

:root {
  --headerHeight: 4rem;
  --sidestripWidth: 0.5rem;
  --borderWidth: 2px;
  --sidestripBorderWidth: 2px;
  @media #{$smallWidthQuery} {
    --headerHeight: 2.75rem;
    --sidestripWidth: 0.4rem;
    --borderWidth: 1px;
    --sidestripBorderWidth: 1px;
  }
  // sidebar widths in portrait and landscape orientations:
  --portraitWidth: 80vw;
  --leftLandscapeWidth: 25vw;
  --rightLandscapeWidth: 25vw;
  @media #{$mediumWidthQuery} {
    --leftLandscapeWidth: 40vw;
    --rightLandscapeWidth: 40vw;
  }
  --transitionDuration: 0.5s;
  // Make these 0 if you don't want default paddings in Sidebars and Main:
  --contentPadding: 5%;
  --mainContentPadding: 2rem 15% 3rem;
  // These determine the style of the inactive background when sidebar is active in portrait:
  --overlay-lightness: 0%; // 0% = black!
  --overlay-transparency: 0; // invisible by default
  --black-overlay-transparency: 0.6;
  // General colors for shadows:
  --shadowColor: #888;
  --shadowHoverColor: #333;
}

// Light theme Colors:
body.lightTheme {
  --bodyHeaderBg: hsl(221, 28%, 94%);
  --bodyHeaderColor: hsla(254, 78%, 52%, 0.75);
  --bodyContentBg: hsl(221, 28%, 97%);
  --bodyContentColor: hsla(255, 26%, 18%, 0.75);
  --scrollbarBg: hsl(221, 28%, 91%);
  --borderColor: hsl(221, 28%, 94%);
  --black-overlay-transparency: 0.5;
}

.sidebar.left.lightTheme, .sidebar.right.lightTheme {
  --headerBg: hsl(221, 28%, 87%);
  --headerColor: var(--bodyHeaderColor);
  --contentBg: hsl(221, 28%, 87%);
  --contentColor: hsla(254, 78%, 62%, 0.75);
  --iconColor: var(--bodyHeaderColor);
  --iconHoverColor: white;
  --borderColor: hsl(221, 28%, 94%);
  --borderHoverColor: #f1f1f1;
  --hoverBg: hsl(221, 28%, 75%);
  --scrollbarBg: hsl(221, 28%, 94%);
  --shadow: 0;

  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonBgLight: hsl(221, 28%, 97%);
  --buttonBgMid: hsl(221, 28%, 90%);
  --buttonBgDark: hsl(221, 28%, 75%);
  --buttonHoverBg: hsla(221, 28%, 70%, 0.3);
  --buttonShadowColor: var(--iconHoverColor);
}

// Dark theme Colors:
body.darkTheme {
  --bodyHeaderBg: hsl(0, 0%, 0%);
  --bodyHeaderColor: hsl(205, 20%, 62%);
  --bodyContentBg: hsl(0, 0%, 3%);
  --bodyContentColor: hsla(205, 11%, 61%, 0.9);
  --scrollbarBg: hsl(0, 0%, 10%);
  --borderColor: hsl(240, 30%, 14%);
  --overlay-lightness: 100%; // 100% = white!
  --overlay-transparency: 0.15;
  --borderWidth: 3px;
  @media #{$smallWidthQuery} {
    --borderWidth: 2px;
  }
}

.sidebar.left.darkTheme, .sidebar.right.darkTheme {
  --headerBg: hsl(240, 50%, 6%);
  --headerColor: hsla(240, 13%, 73%, 0.9);
  --contentBg: hsl(240, 36%, 9.5%);
  --contentColor: hsla(240, 15%, 71%, 0.7);
  --iconColor: hsla(240, 20%, 72%, 0.9);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(240, 30%, 20%);
  --borderHoverColor: hsl(240, 30%, 28%);
  --hoverBg: hsl(240, 43%, 15%);
  --scrollbarBg: hsl(240, 30%, 16%);
  --shadow: 0;

  --buttonColor: hsla(0, 0%, 3%, 0.75);
  --buttonHoverColor: hsl(0, 0%, 3%);
  --buttonBgLight: hsl(0, 0%, 70%);
  --buttonBgMid: hsl(0, 0%, 65%);
  --buttonBgDark: hsl(0, 0%, 50%);
  --buttonHoverBg: hsla(0, 0%, 35%, 0.25);
  --buttonShadowColor: var(--buttonBgDark);
}

// Joy theme Colors:
body.joyTheme {
  --bodyHeaderBg: linear-gradient(to right, hsl(39, 100%, 50%), hsl(300, 76%, 72%));
  --bodyHeaderColor: hsla(254, 78%, 52%, 0.75);
  --bodyContentBg: hsl(60, 100%, 89%);
  --bodyContentColor: hsla(330, 100%, 39%, 0.8);
  --scrollbarBg: hsl(60, 79%, 82%);
  --borderColor: hsla(254, 78%, 52%, 0.05);
}

.sidebar.left.joyTheme {
  --headerBg: hsl(24, 100%, 50%);
  --headerColor: hsl(39, 100%, 85%);
  --contentBg: hsl(24, 100%, 50%);
  --contentColor: hsl(24, 100%, 85%);
  --iconColor: hsl(39, 100%, 85%);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(24, 100%, 75%);
  --borderHoverColor: hsl(24, 100%, 65%);
  --hoverBg: hsl(24, 100%, 38%);
  --scrollbarBg: hsl(24, 100%, 70%);
  --shadow: 6px 0 15px 0;

  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonBgLight: hsl(39, 100%, 90%);
  --buttonBgMid: hsl(39, 100%, 80%);
  --buttonBgDark: hsl(39, 100%, 65%);
  --buttonHoverBg: hsla(24, 100%, 50%, 0.25);
  --buttonShadowColor: var(--contentColor);
}

.sidebar.right.joyTheme {
  --headerBg: hsl(300, 76%, 52%);
  --headerColor: hsl(300, 76%, 87%);
  --contentBg: hsl(300, 76%, 52%);
  --contentColor: hsl(300, 76%, 86%);
  --iconColor: hsl(300, 76%, 87%);
  --iconHoverColor: #f1f1f1;
  --borderColor: hsl(300, 76%, 77%);
  --borderHoverColor: hsl(300, 76%, 67%);
  --hoverBg: hsl(300, 76%, 37%);
  --scrollbarBg: hsl(300, 76%, 72%);
  --shadow: -6px 0 15px 0;

  --buttonColor: hsla(254, 78%, 52%, 0.65);
  --buttonHoverColor: hsla(254, 78%, 52%, 0.9);
  --buttonBgLight: hsl(300, 76%, 95%);
  --buttonBgMid: hsl(300, 76%, 88%);
  --buttonBgDark: hsl(300, 76%, 75%);
  --buttonHoverBg: hsla(300, 76%, 65%, 0.25);
  --buttonShadowColor: var(--contentColor);
}