// Sass is used to easily darken/lighten color variables, and for media queries.
// For other types of variables, we prefer to use CSS custom properties.
$smallWidthQuery: '(max-width: 800px)';
$noSmallWidthQuery: '(min-width: 800px)';
$mediumWidthQuery: '(max-width: 1200px)';
:export {
  mediumWidthQuery: #{$mediumWidthQuery};
}

$bg: hsla(60, 100, 88.6, 0.9);
$color: hsla(330, 100, 39.2, 0.8);
$headerColor: hsla(254, 78%, 52%, 0.75);

$left-light: orange;
$left-dark: hsla(24, 100, 50, 1);
$left: (
  bg: $left-dark,
  hoverBg: darken($left-dark, 12%),
  scrollbarBg: lighten($left-dark, 20%),
  headerColor: lighten($left-light, 35%),
  contentColor: lighten($left-dark, 35%),
  iconColor: lighten($left-light, 35%),
  iconHoverColor: #f1f1f1,
  borderColor: lighten($left-dark, 25%),
  borderHoverColor: darken($left-dark, 7%),
);

$right-light: violet;
$right-dark: hsla(300, 76.2, 52.2, 1);
$right: (
  bg: $right-dark,
  hoverBg: darken($right-dark, 15%),
  scrollbarBg: lighten($right-dark, 20%),
  headerColor: lighten($right-light, 15%),
  contentColor: lighten($right-dark, 34%),
  iconColor: lighten($right-light, 15%),
  iconHoverColor: #f1f1f1,
  borderColor: lighten($right-dark, 25%),
  borderHoverColor: darken($right-dark, 9%),
);

$gradient: linear-gradient(to right, $left-light, $right-light);
$shadow: 6px 0 15px 0;
$shadowColor: #888;
$shadowHoverColor: #333;

:root {
  --headerHeight: 4rem;
  --headerFont: 1.75rem;
  --sidestripWidth: 0.5rem;
  --patchTop: 3rem;
  --borderWidth: 2px;
  @media #{$smallWidthQuery} {
    --headerHeight: 3rem;
    --headerFont: 1.35rem;
    --sidestripWidth: 0.375rem;
    --patchTop: 2rem;
    --borderWidth: 1px;
  }
  // sidebar widths in portrait and landscape orientations:
  --portraitWidth: 80vw;
  --leftLandscapeWidth: 25vw;
  --rightLandscapeWidth: 25vw;
  @media #{$mediumWidthQuery} {
    --leftLandscapeWidth: 40vw;
    --rightLandscapeWidth: 40vw;
  }
  --transitionDuration: 0.5s;
}

body {
  /* border: 3px solid red; */
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  background: $bg;
  color: $color;
  /* Disable scrolling on body: */
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

#layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'left main right';
}

#main {
  grid-area: main;
  min-width: 0;
  --headerColor: #{$headerColor};
  --contentColor: #{$color};
}

.sidebar {
  --border: var(--borderWidth) solid var(--borderColor);
  &.left {
    grid-area: left;
    border-right: var(--border);
    --contentColor: #{map-get($left, contentColor)};
    --iconColor: #{map-get($left, iconColor)};
    --headerColor: #{map-get($left, headerColor)};
    --borderColor: #{map-get($left, borderColor)};
    --bg: #{map-get($left, bg)};
    --shade: #{$shadow};
    &.active {
      width: var(--leftLandscapeWidth);
      @media (orientation: portrait), #{$smallWidthQuery} {
        width: var(--sidestripWidth);
      }
    }
  }
  &.right {
    grid-area: right;
    border-left: var(--border);
    --contentColor: #{map-get($right, contentColor)};
    --iconColor: #{map-get($right, iconColor)};
    --headerColor: #{map-get($right, headerColor)};
    --borderColor: #{map-get($right, borderColor)};
    --bg: #{map-get($right, bg)};
    --shade: -#{$shadow};
    &.active {
      width: var(--rightLandscapeWidth);
      @media (orientation: portrait), #{$smallWidthQuery} {
        width: var(--sidestripWidth);
      }
    }
  }

  background: var(--bg);
  --shadow: var(--shade) #{$shadowColor}; // CSS prop is modified on :hover!
  box-shadow: var(--shadow);
  width: var(--sidestripWidth);
  transition: width var(--transitionDuration);
}

@media (orientation: portrait), #{$smallWidthQuery} {
  /// In portrait mode the active sidebar should cover the main content,
  /// so styling is different from landscape mode:
  .portraitSidebar {
    position: fixed;
    z-index: 30;
    width: var(--portraitWidth);
    background: var(--bg);

    --offset: calc(-1 * var(--portraitWidth) - var(--borderWidth));
    &.left {
      &.active {
        left: 0;
      }
      left: var(--offset);
      transition: left var(--transitionDuration);
      border-right: var(--border);
    }
    &.right {
      &.active {
        right: 0;
      }
      right: var(--offset);
      transition: right var(--transitionDuration);
      border-left: var(--border);
    }
  }

  /// Mock background layer to hide the sidebar by clicking on it:
  .mock-portrait-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    visibility: hidden;
    &.active {
      visibility: visible;
      cursor: pointer;
    }
  }
}

/// Represents the inactive, hoverable sidebar that triggers activation by clicking on it:
.hoverbar {
  @media (hover: hover) { // Prevent :hover from being triggered on touch devices!
    &:hover {
      cursor: pointer;
      // --shadow, --bg, --iconColor and --border are defined in .sidebar
      --shadow: var(--shade) #{$shadowHoverColor};
      &.left {
        --bg: #{map-get($left, hoverBg)};
        --iconColor: #{map-get($left, iconHoverColor)};
        &.inactive {
          --border: var(--borderWidth) solid #{map-get($left, borderHoverColor)};
        }
      }
      &.right {
        --bg: #{map-get($right, hoverBg)};
        --iconColor: #{map-get($right, iconHoverColor)};
        &.inactive {
          --border: var(--borderWidth) solid #{map-get($right, borderHoverColor)};
        }
      }
    }
  }

  /// Square icon div:
  .iconSquare {
    position: fixed;
    z-index: 10;
    top: 0;
    width: var(--headerHeight);
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    font-size: var(--headerFont);
    text-align: center;
    background: var(--bg);
    border-bottom: var(--border);
    &.active {
      z-index: 100;
    }
    &.left {
      border-right: var(--border);
      left: 0;
      color: var(--iconColor);
    }
    &.right {
      border-left: var(--border);
      right: 0;
      color: var(--iconColor);
    }
  }

  /// Small strip below icon to the side of the screen:
  .sidestrip {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    width: var(--sidestripWidth);
    background: var(--bg);
    box-shadow: var(--shadow);

    transition-property: opacity;
    opacity: 1;
    transition-delay: var(--transitionDuration);
    &.active {
      z-index: 99;
      opacity: 0;
      transition-delay: 0s;
    }

    &.left {
      border-right: var(--border);
      left: 0;
    }
    &.right {
      border-left: var(--border);
      right: 0;
    }
  }

  /// This class is a simple cosmetic touch that covers up the border between
  /// .iconSquare and .sidestrip, so it appears as one whole:
  .sidestripPatch {
    position: absolute;
    z-index: 15;
    top: var(--patchTop);
    bottom: 0;
    width: var(--sidestripWidth);
    background: var(--bg);

    transition-property: opacity;
    opacity: 1;
    transition-delay: var(--transitionDuration);
    &.active {
      opacity: 0;
      transition-delay: 0s;
    }

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

}

.header {
  position: relative;
  height: var(--headerHeight);
  color: var(--headerColor);
  &.main {
    background: $gradient;
    height: calc(var(--headerHeight) + var(--borderWidth));
  }
  &.left {
    float: right;
    width: calc(100% - var(--headerHeight));
    border-bottom: var(--borderWidth) solid #{map-get($left, borderColor)};
  }
  &.right {
    float: left;
    width: calc(100% - var(--headerHeight));
    border-bottom: var(--borderWidth) solid #{map-get($right, borderColor)};
  }

  > h1 {
    margin: 0;
    height: 100%; /* Required to prevent overflow! */
    font-size: var(--headerFont);
    line-height: calc(var(--headerHeight) - var(--borderWidth)); /* Vertical center */
    text-align: center; /* Horizontal center */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.main {
      position: absolute;
      left: calc(var(--headerHeight) - var(--sidestripWidth));
      right: calc(var(--headerHeight) - var(--sidestripWidth));
      transition: left var(--transitionDuration), right var(--transitionDuration);
      @media (orientation: landscape), #{$noSmallWidthQuery} {
        &.leftActive {
          left: 0;
        }
        &.rightActive {
          right: 0;
        }
      }
    }
  }
}

.content {
  &.main {
    padding: 2rem 10% 3rem;
    &::-webkit-scrollbar-thumb {
      --bg: #{$bg};
    }
  }
  &.left {
    &::-webkit-scrollbar-thumb {
      --bg: #{map-get($left, scrollbarBg)};
    }
  }
  &.right {
    direction: rtl;
    > div {
      direction: ltr;
    }
    &::-webkit-scrollbar-thumb {
      --bg: #{map-get($right, scrollbarBg)};
    }
  }

  /* Without border-box, the left/right padding is added
  to the 100% width, resulting in overflowing content! */
  box-sizing: border-box;
  height: calc(100vh - var(--headerHeight));
  padding: 5%;
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
  color: var(--contentColor);

  /* Scrollbar styling: */
  &::-webkit-scrollbar {
    width: 0.6rem;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--bg);
    border-radius: 0.6rem;
  } /* End scrollbar styling */
}
