.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none; // Disable text selection on double-click
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1em;
  --mainBg: linear-gradient(to bottom,
    hsla(24, 100%, 86%, 0.9), hsla(24, 100%, 82%, 0.9), hsla(24, 95%, 80%, 0.9), hsla(24, 90%, 70%, 0.9), hsla(24, 68%, 64%, 0.9));
  --optionBg: hsla(24, 95%, 80%, 1);
  --textColor: hsla(254, 78%, 52%, 0.75);
  --borderColor: #888;
  --borderWidth: 1px;
  --borderRadius: 0.5em;
  --verticalPadding: 0.3em;
  --horizontalPadding: 0.8em;
  --arrowHeight: 0.35em;

  // Hide the native select (it still exists to enable form submissions):
  .hidden-native-select {
    display: none;
  }

  // Style the selected option that is always visible at the top:
  .selected-option {
    background: var(--mainBg);
    color: var(--textColor);
    font-weight: 900;
    padding: var(--verticalPadding) var(--horizontalPadding);
    border: var(--borderWidth) solid var(--borderColor);
    border-radius: var(--borderRadius);

    // Create the arrow inside the selected option:
    &::after {
      position: absolute;
      content: "";
      right: 0.7em;
      // Make 4 transparent triangles by creating borders around nothing:
      width: 0;
      height: 0;
      border: var(--arrowHeight) solid transparent;
    }
    // Point the arrow downwards when the select box is closed:
    &.closed::after {
      top: calc(50% - var(--arrowHeight) / 2);
      border-top: var(--arrowHeight) solid var(--textColor);
    }
    // Point the arrow upwards when the select box is open:
    &.open::after {
      bottom: calc(50% - var(--arrowHeight) / 2);
      border-bottom: var(--arrowHeight) solid var(--textColor);
    }
  }

  // Style the select options-box (box below the selected option):
  .options-box {
    position: absolute;
    background: var(--optionBg);
    color: var(--textColor);
    border: var(--borderWidth) solid var(--borderColor);
    border-radius: var(--borderRadius);
    margin-top: calc(-1 * var(--borderWidth));
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

    // Style the individual select options:
    div {
      padding: var(--verticalPadding) 0 var(--verticalPadding) var(--horizontalPadding);
      border-top: 1px solid var(--borderColor);
      font-size: 0.9em;

      // Kill double border on top option:
      &:nth-child(1) {
        border-top: 0;
      }
      // Make the hovered or selected option a tad darker:
      // (or lighter for dark themes)
      &:hover {
        background: hsla(24, 83%, 60%, 0.5);
      }
      &.selected {

      }

      .checkmark {
        visibility: hidden;
        &.selected {
          visibility: visible;
        }
      }
    }

    // Hide the entire options-box when it is closed:
    &.closed {
      display: none;
    }
  }
}