.div-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none; // Disable text selection on double-click
  box-sizing: border-box;
  width: 6rem;
  font-family: Arial;
  --optionPadding: 0.4rem 0.8rem;
  --borderRadius: 0.5rem;

  // Style the selected option that is always visible at the top:
  .selected-option {
    background: var(--contentBg);
    color: var(--contentColor);
    font-weight: 900;
    padding: var(--optionPadding);
    border: var(--headerBorderWidth) solid var(--contentColor);
    border-radius: var(--borderRadius);

    &.open {
      border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    }
    // Style the arrow inside the selected option:
    &::after {
      position: absolute;
      content: "";
      top: 0.9rem;
      right: 0.6rem;
      width: 0;
      height: 0;
      border: 0.3rem solid transparent;
    }
    // Point the arrow downwards when the select box is closed:
    &.closed::after {
      border-top: 0.3rem solid var(--contentColor);
    }
    // Point the arrow upwards when the select box is open:
    &.open::after {
      top: 0.6rem;
      border-bottom: 0.3rem solid var(--contentColor);
    }
  }

  // Style the select options-box (box below the selected option):
  .options-box {
    position: absolute;
    background: var(--contentBg);
    color: var(--contentColor);
    border: var(--headerBorderWidth) solid var(--contentColor);
    border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
    margin-top: calc(-1 * var(--headerBorderWidth));
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

    // Style the individual select options:
    div {
      padding: var(--optionPadding);
      border-top: var(--headerBorderWidth) solid var(--contentColor);

      // Kill double border on top option:
      &:nth-child(1) {
        border-top: 0;
      }
      // Make the hovered or selected option a tad darker:
      // (or lighter for dark themes)
      &:hover, &.selected {
        background: hsla(0, 0%, var(--overlay-lightness), 0.1);
      }
    }

    // Hide the entire options-box when it is closed:
    &.closed {
      display: none;
    }
  }
}