// The styles.scss file holds all .scss rules for the entire theme.
// It requires a compatible colors.scss and specs.scss file.
body {
  /* border: 3px solid red; */
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  background: map-get($main, contentBg);
  color: map-get($main, contentColor);
  /* Disable scrolling on body: */
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

#layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'left main right';
}

#main {
  grid-area: main;
  min-width: 0;
  --headerColor: #{map-get($main, headerColor)};
  --contentColor: #{map-get($main, contentColor)};
}

.sidebar {
  --border: var(--borderWidth) solid var(--borderColor);
  &.left {
    grid-area: left;
    border-right: var(--border);
    --contentColor: #{map-get($left, contentColor)};
    --iconColor: #{map-get($left, iconColor)};
    --headerColor: #{map-get($left, headerColor)};
    --borderColor: #{map-get($left, borderColor)};
    --shade: #{$shadow};
    &.active {
      width: var(--leftLandscapeWidth);
      @media #{$smallWidthQuery} {
        width: var(--sidestripWidth);
      }
    }
  }
  &.right {
    grid-area: right;
    border-left: var(--border);
    --contentColor: #{map-get($right, contentColor)};
    --iconColor: #{map-get($right, iconColor)};
    --headerColor: #{map-get($right, headerColor)};
    --borderColor: #{map-get($right, borderColor)};
    --shade: -#{$shadow};
    &.active {
      width: var(--rightLandscapeWidth);
      @media #{$smallWidthQuery} {
        width: var(--sidestripWidth);
      }
    }
  }

  --shadow: var(--shade) #{$shadowColor}; // CSS prop is modified on :hover!
  box-shadow: var(--shadow);
  width: var(--sidestripWidth);
  transition: width var(--transitionDuration);
}

@media #{$smallWidthQuery} {
  /// In portrait mode the active sidebar should cover the main content,
  /// so styling is different from landscape mode:
  .portraitSidebar {
    position: fixed;
    z-index: 30;
    width: var(--portraitWidth);

    --offset: calc(-1 * var(--portraitWidth) - var(--borderWidth));
    &.left {
      &.active {
        left: 0;
      }
      left: var(--offset);
      transition: left var(--transitionDuration);
      border-right: var(--border);
    }
    &.right {
      &.active {
        right: 0;
      }
      right: var(--offset);
      transition: right var(--transitionDuration);
      border-left: var(--border);
    }
  }

  /// Mock background layer to hide the sidebar by clicking on it:
  .mock-portrait-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    visibility: hidden;
    &.active {
      visibility: visible;
      cursor: pointer;
    }
  }
}

/// Represents the inactive, hoverable sidebar that triggers activation by clicking on it:
.hoverbar {
  --border: var(--borderWidth) solid var(--borderColor);
  --headerBorder: var(--headerBorderWidth) solid var(--borderColor);
  &.left {
    --bg: #{map-get($left, headerBg)};
  }
  &.right {
    --bg: #{map-get($right, headerBg)};
  }
  @media (hover: hover) { // Prevent :hover from being triggered on touch devices!
    &:hover {
      cursor: pointer;
      // --shadow, --iconColor and --border are defined in .sidebar
      --shadow: var(--shade) #{$shadowHoverColor};
      &.left {
        --bg: #{map-get($left, hoverBg)};
        --iconColor: #{map-get($left, iconHoverColor)};
        &.inactive {
          --border: var(--borderWidth) solid #{map-get($left, borderHoverColor)};
          --headerBorder: var(--headerBorderWidth) solid #{map-get($left, borderHoverColor)};
        }
      }
      &.right {
        --bg: #{map-get($right, hoverBg)};
        --iconColor: #{map-get($right, iconHoverColor)};
        &.inactive {
          --border: var(--borderWidth) solid #{map-get($right, borderHoverColor)};
          --headerBorder: var(--headerBorderWidth) solid #{map-get($right, borderHoverColor)};
        }
      }
    }
  }

  /// Square icon div:
  .iconSquare {
    position: fixed;
    z-index: 10;
    top: 0;
    width: var(--headerHeight);
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    font-size: var(--headerFont);
    text-align: center;
    background: var(--bg);
    border-bottom: var(--headerBorder);
    &.active {
      z-index: 100;
    }
    &.left {
      border-right: var(--headerBorder);
      left: 0;
      color: var(--iconColor);
    }
    &.right {
      border-left: var(--headerBorder);
      right: 0;
      color: var(--iconColor);
    }
  }

  /// Small strip below icon to the side of the screen:
  .sidestrip {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    width: var(--sidestripWidth);
    background: var(--bg);
    box-shadow: var(--shadow);

    transition-property: opacity;
    opacity: 1;
    transition-delay: var(--transitionDuration);
    &.active {
      z-index: 99;
      opacity: 0;
      transition-delay: 0s;
    }

    &.left {
      border-right: var(--border);
      left: 0;
    }
    &.right {
      border-left: var(--border);
      right: 0;
    }
  }

  /// This class is a simple cosmetic touch that covers up the border between
  /// .iconSquare and .sidestrip, so it appears as one whole:
  .sidestripPatch {
    position: absolute;
    z-index: 15;
    top: var(--patchTop);
    bottom: 0;
    width: var(--sidestripWidth);
    background: var(--bg);

    transition-property: opacity;
    opacity: 1;
    transition-delay: var(--transitionDuration);
    &.active {
      opacity: 0;
      transition-delay: 0s;
    }

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

}

.header {
  position: relative;
  height: var(--headerHeight);
  color: var(--headerColor);
  &.main {
    background: map-get($main, headerBg);
    height: calc(var(--headerHeight) + var(--headerBorderWidth));
  }
  &.left {
    background: map-get($left, headerBg);
    float: right;
    width: calc(100% - var(--headerHeight));
    border-bottom: var(--headerBorderWidth) solid #{map-get($left, borderColor)};
  }
  &.right {
    background: map-get($right, headerBg);
    float: left;
    width: calc(100% - var(--headerHeight));
    border-bottom: var(--headerBorderWidth) solid #{map-get($right, borderColor)};
  }

  > h1 {
    margin: 0;
    height: 100%; /* Required to prevent overflow! */
    font-size: var(--headerFont);
    line-height: calc(var(--headerHeight) - var(--borderWidth)); /* Vertical center */
    text-align: center; /* Horizontal center */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.main {
      position: absolute;
      left: calc(var(--headerHeight) - var(--sidestripWidth));
      &.leftActive {
        left: 0;
      }
      right: calc(var(--headerHeight) - var(--sidestripWidth));
      &.rightActive {
        right: 0;
      }
      transition: left var(--transitionDuration), right var(--transitionDuration);
    }
  }
}

.content {
  &.main {
    background: map-get($main, contentBg);
    padding: var(--mainContentPadding);
    &::-webkit-scrollbar-thumb {
      --bg: #{map-get($main, scrollbarBg)};
    }
  }
  &.left {
    background: map-get($left, contentBg);
    &::-webkit-scrollbar-thumb {
      --bg: #{map-get($left, scrollbarBg)};
    }
  }
  &.right {
    background: map-get($right, contentBg);
    direction: rtl;
    > div {
      direction: ltr;
    }
    &::-webkit-scrollbar-thumb {
      --bg: #{map-get($right, scrollbarBg)};
    }
  }

  /* Without border-box, the left/right padding is added
  to the 100% width, resulting in overflowing content! */
  box-sizing: border-box;
  height: calc(100vh - var(--headerHeight));
  padding: var(--contentPadding);
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
  color: var(--contentColor);

  /* Scrollbar styling: */
  &::-webkit-scrollbar {
    width: 0.6rem;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--bg);
    border-radius: 0.6rem;
  } /* End scrollbar styling */
}
