.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none; // Disable text selection on double-click
  outline: none; // Disable focus outline
  // Disable Blue Highlight on Touch:
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: 'Lucida Console', monospace;
  font-size: 1em;
  // Vertically align the label and select component:
  bottom: .08em;
  vertical-align: middle;

  --fg-hoverable: var(--fg-button);
  --bg-border: var(--bg-shadow);
  --border-width: 1px;
  --border-radius: 0.5em;
  --arrow-height: 0.35em;
  --padding-vertical: 0.3em;
  --padding-horizontal: 0.8em;

  &:hover, &:focus {
    --fg-hoverable: var(--fg-button-hover);
    box-shadow: 0 0 15px 5px var(--bg-button-shadow);
    border-radius: var(--border-radius);
  }

  // Hide the native select (it still exists to enable form submissions):
  .hidden-native-select {
    display: none;
  }

  // Style the selected option that is always visible at the top:
  .selected-option {
    background: var(--bg-button);
    color: var(--fg-hoverable);
    font-weight: 900;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border: var(--border-width) solid var(--bg-border);
    border-radius: var(--border-radius);
    height: 1.2em;

    // Create the arrow inside the selected option:
    &::after {
      position: absolute;
      content: "";
      right: 0.7em;
      // Make 4 transparent triangles by creating borders around nothing:
      width: 0;
      height: 0;
      border: var(--arrow-height) solid transparent;
    }
    // Point the arrow downwards when the select box is closed:
    &.closed::after {
      top: calc(50% - var(--arrow-height) / 2);
      border-top: var(--arrow-height) solid var(--fg-hoverable);
    }
    // Point the arrow upwards when the select box is open:
    &.open::after {
      bottom: calc(50% - var(--arrow-height) / 2);
      border-bottom: var(--arrow-height) solid var(--fg-hoverable);
    }
  }

  // Style the select options-box (box below the selected option):
  .options-box {
    position: absolute;
    background: var(--bg-options);
    color: var(--fg-button);
    border: var(--border-width) solid var(--bg-border);
    border-radius: var(--border-radius);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;

    // Style the individual select options:
    div {
      padding: var(--padding-vertical) 0 var(--padding-vertical) var(--padding-horizontal);
      border-top: 1px solid var(--bg-border);
      font-size: 0.9em;

      // Kill double border on top option:
      &:nth-child(1) {
        border-top: 0;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
      &:nth-last-child(1) {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }
      // Make the hovered or selected option a tad darker:
      // (or lighter for dark themes)
      &:hover {
        background: var(--bg-option-hover);
      }
      &.active-option {
        color: var(--fg-button-hover);
      }

      .checkmark {
        color: var(--fg-checkmark, green);
        visibility: hidden;
        &.active-option {
          visibility: visible;
        }
      }
    }

    // Hide the entire options-box when it is closed:
    &.closed {
      display: none;
    }
  }
}