.custom-toggle {
  margin: 1em 1em 1em 0;

  .toggle-label {
    vertical-align: middle;
    padding-right: 0.6em;
  }

  .toggle-track {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 1.5em;
    border-radius: 3em;
    cursor: pointer;
    background: var(--bg-toggle-track, hsl(213, 22%, 30%));
    // Disable Blue Highlight on Touch:
    -webkit-tap-highlight-color: transparent;

    &:hover {
      box-shadow: 0 0 15px 5px var(--bg-button-shadow);
    }

    .hidden-native-checkbox {
      display: none;

      &:checked + .toggle-thumb {
        transform: translateX(1.5em);
      }
    }

    .toggle-thumb {
      position: absolute;
      top: 0.1em;
      left: 0.1em;
      width: 1.3em;
      height: 1.3em;
      border-radius: 1.3em;
      transition: 0.2s;
      background: var(--bg-toggle-thumb);
    }
  }
}